nav {
  background-color: black;
  width: 100%;
  padding: 10px;
  color: white;
  text-align: center;
}
#right-container {
  padding: 10px;
}

#left-container {
  background-color: #eaeaea;
}
table {
  margin: 10px;
}
